@import '../common.scss';

.gh.gh-panel-body {
  background: $white;
  padding: 1rem;
  width: auto;
  height: auto;
  box-sizing: border-box;

  @include transition;
  @include standardBorder;
  @include borderRadius;
}
