$darkblue: #2865EF;
$blue: #457eff;
$babyblue: #dae7ff;
$greyblue: #f5f6fa;

$darkgreen: #0da679;
$green: #0fc18d;
$surgeongreen: #2AEEB5;
$pistachio: #b8f9e6;

$urine: #ffc600;

$darkgray: #5b6378;

$gray: #8C96AB;
$lightgray:	#f5f6fa;

$white: #FFF;
$black: #000;

.gh {
  font-family: "Fira Sans", sans-serif;
}
